[submodule "jmsd_tps_zlib"]
	path = jmsd_tps_zlib
	url = https://github.com/jiteman/jmsd_tps_zlib.git
[submodule "jmsd_tps_png"]
	path = jmsd_tps_png
	url = https://github.com/jiteman/jmsd_tps_png.git
[submodule "jmsd_tps_freetype"]
	path = jmsd_tps_freetype
	url = https://github.com/jiteman/jmsd_tps_freetype.git
[submodule "jmsd_tps_glut"]
	path = jmsd_tps_glut
	url = https://github.com/jiteman/jmsd_tps_glut.git
[submodule "jmsd_tps_sdl"]
	path = jmsd_tps_sdl
	url = https://github.com/jiteman/jmsd_tps_sdl.git
